
.glowing-border {
    margin-left:2%;
    width:98%;
    height:184px;
    background-size: 101% 101%;
    background-position: -5% -10% 0% 0%;
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    border-radius: 6px;
    /* box-shadow: 0px 0px 15px rgb(215, 214, 214); */
}
.glowing-border h2{
width:60%;
margin-left:20%;
text-align:center;
padding:2.5%;
font-weight: 500;
font-size: 1.2rem;
border-bottom:0.5px solid goldenrod;
}
.glowing-border ol{
        margin-top:5%;
        list-style-type:disc;
        font-size:0.7rem;
        color:goldenrod;
        margin-left:10%;
}
.gold-lustrous-text {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background: linear-gradient(45deg,#b48703, #977100,#FFD700, #FFCC00, #E6B800, #B88A00,rgb(172, 64, 64));
    background-clip: text; /* Ensures the gradient is clipped to the text */
    -webkit-background-clip: text; /* For Safari */
    color: transparent; /* Make text itself transparent so gradient shows */
}