
.to-center{
    display:flex;
    flex-direction: column;
    width:100%;
    /* justify-content:center; */
    align-items:center;
    box-shadow: 0px 0px 10px rgb(181, 180, 180);
}
.hotel-star{
    width:100%;
    margin-left:25px;
    margin-top:10px;
}
.hotel-star p{
    width:80px;
    padding:2px;
    border:1px solid var(--secondary);
    border-radius: 8px;
}
.hotel-view{
    display:flex;
    flex-wrap:wrap;
    width:1175px;
    height:500px;
    gap:1%;
}
.image-box{
    flex:2.4;
}
.image-box .header{
    width:100%;
    height:90px;
    display:flex;
}
.image-box .header .hotel-name{
    flex:2;
    height:100%;
}
.image-box .header .hotel-name h2{
    font-size:1.7rem;
    font-weight:700;
    margin-left:2.5%;
    margin-top:2.5%;
}
.image-box .header .hotel-name p{
    margin-left:2.5%;
    font-size: 0.8rem;
    color:rgb(158, 157, 157);
}
.image-box .header .hotel-location{
    flex:1;
    display:flex;
    justify-content: right;
    align-items: center;
}
.image-box .header .hotel-location .user-review {
    display:flex;
    width:120px;
    height:50px;
    box-shadow: 0px 0px 15px rgb(229, 228, 228);
    border-radius:8px;
}
.image-box .header .hotel-location .user-review .icon{
    flex:1.6;
    height:100%;
    background-color:var(--accent);
    color:white;
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content:center;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
}
.image-box .header .hotel-location .user-review .supp-text{
    flex:2;
    color:rgb(158, 157, 157);
    font-size:0.9rem;
}
.image-box .main-box{
    width:100%;
    height:400px;
    display:flex;
}
.image-box .main-box .center-image{
    flex:2.3;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.image-box .main-box .center-image img{
    height:378px;
    width:98%;
    border-radius:8px;
    box-shadow: 0px 0px 15px grey;
    min-width:360px;
}
.image-box .main-box .side-image{
    flex:1;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}
.image-box .main-box .side-image img{
    width:90%;
    height:45%;
    border-radius:8px;
    box-shadow: 0px 0px 10px grey;
}
.pricing-details{
    flex:1;
    display:flex;
    flex-direction: column;
}
.price-option{
    margin-left:2%;
    border:1px solid black;
    height:190px;
    margin-top:10px;
    width:95%;
    min-width:340px;
    border-radius:8px;
    border:1px solid rgb(202, 208, 215);
    box-shadow: 0px 0px 5px rgb(230, 229, 229);
}
.price-option .room-type{
    margin-top:4%;
    margin-left:5%;
    font-size: 0.9rem;
    font-weight:600;
}
.price-option .room-details{
    margin-left:5%;
    margin-top:3.5%;
    width:90%;
    height:72px;
    display:flex;
}
.price-option .room-details .room-cancellation{
    flex:1;
    font-size:0.83rem;
}
.price-option .room-details .room-cancellation p{
    flex:1;
    color:rgb(33, 172, 33);
}
.price-option .room-details .room-price{
    flex:1;
}
.price-option .room-details .room-price h2{
    text-align: right;
    width:100%;
    font-size:1.5rem;
    font-weight: 700;
}
.price-option .room-details .room-price p{
    font-size:0.7rem;
    text-align: right;
    color:rgb(137, 137, 137);
}
.price-option .room-details .room-price p span{
    font-weight:700
}
.price-option .downlink{
    margin-left:4%;
    margin-top:1.5%;
    border:2px solid var(--accent);
    height:50px;
    width:92%;
    border-radius: 6px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:700;
    color:var(--accent);
}
@media (max-width:1185px){
    .hotel-view {
        width:950px;
    }
    .image-box .main-box .side-image{
        display:none;
    }
    .price-option .room-details .room-cancellation p{
        font-size:0.6rem;
    }
}
@media (max-width:960px){
    .hotel-view {
        width:650px;
    }
    .to-center{
        height:750px;
    }
    .pricing-details{
        flex:1;
        display:flex;
        flex-direction: row;
    }
    .pricing-details .glowing-border{
        margin-top:10px;
    }
}
@media (max-width:661px){
    .hotel-view{
        width:100%;
    }
    /* .image-box .main-box .center-image {
        width:100%;
    } */
    .pricing-details{
        width:100%;
        flex-wrap: wrap;
    }
    .pricing-details .price-option {
        flex:1.2;
        min-width: 300px;
        height:210px
    }
    .pricing-details .glowing-border{
        flex:1;
        margin-right:1%;
    }
}
@media (max-width:566px){
    .to-center{
        height:910px;
    }
    .pricing-details{
        padding-left:5%;
        padding-right: 5%;
    }
    .pricing-details .glowing-border {
        width:90%;
        margin-top:20px;
        min-width:300px;
    }
    .image-box .main-box {
        height:min-content;
        /* background-image: linear-gradient(to bottom right,#e64833,#e64833,orange); */
        padding:1% 0.2%;
    }
    .image-box .main-box .center-image img{
        height:auto;
    }
}
@media (max-width:400px){
    .to-center{
        height:800px;
    }
}