.room-package{
    width:90%;
    margin-top: 30px;
    display:flex;
    box-shadow: 0px 0px 20px grey;
    border-radius: 8px;
    flex-wrap:wrap;
}
.room-package .room-image-details{
    flex:1.3;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 15px lightgrey;
}
.room-package .room-image-details .room-name{
    margin-left:6%;
    margin-top: 4.5%;
}
.room-package .room-image-details img{
    width:90%;
    margin-left:5%;
    margin-top:4.5%;
    border-radius: 8px;
}
.room-package .room-image-details .banner{
    width:90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-top:4.5%;
    padding:15px;
    font-weight: 700;
    font-size: 0.75rem;
    text-align: center;
    color:var(--accent);
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
}
.room-package .room-image-details .specifications{
    display:flex;
    flex-wrap: wrap;
    gap:5%;
    margin: 4.5%;
    margin-left: 5%;
}
.room-package .room-image-details .specifications p{
    max-width: 50%;
    text-align: center;
}
.room-package .room-details{
    flex:2;
    border:1px solid var(--primary);
    border-left:none;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    display: flex;
    flex-direction: column;
    gap:2%;
    height:505px;
    overflow: scroll;
}
@media (max-width:795px){
    .room-package .room-details {
        height:400px;
    }
    .room-package .room-image-details .specifications p{
        font-size:0.8rem;
    }
}

@media (max-width:685px){
    .room-package{
        height:870px;
    }
    .room-package .room-image-details{
        min-width:280px;
    }
    .room-package .room-image-details img{
        width:70%;
        margin-left:15%;
    }
    .room-package .room-image-details .specifications{
        margin-bottom: -10%;
    }
    .room-package .room-details{
        min-width:320px;
        height:360px;
        margin-bottom:-20%;
        border:none;
    }
}
@media (max-width:600){
    .room-package{
        height:850px
    }
}