    @tailwind base;
    @tailwind components;
    @tailwind utilities;

@font-face {
    font-family: 'chatMesage'; /* Choose a name for your font family */
    src: url('/fonts/Outfit-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900; /* Define the range of available weights */
    font-style: normal; /* Or 'italic' if applicable */
    font-display: swap; /* Important for performance */
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/manrope-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
