.amenity-nav{
    width:100%;
    position:sticky;
    top:100px;
    height:65px;
    /* box-shadow:5px 0px 5px rgb(168, 168, 168); */
    margin-top:25px;
    /* background: linear-gradient(to right, white,white, white,lightgrey); */
    /* background: black */
    background-color: rgb(226, 224, 224);
    z-index: 45;
}
.amenity-nav .nav-links{
    height:100%;
    width:60%;
    /* border:1px solid black; */
    margin-left:10%;
    display:flex;
    gap:0.5%;
    background-color: white;
}
.amenity-nav .nav-links div{
    flex:1;
    border-top:5px solid white;
    border-bottom:5px solid white;
    color:rgb(144, 142, 142);
    font-weight:600;
    font-size:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* background:linear-gradient(to bottom right,white,white, rgb(244, 244, 244),lightgrey) */
}
.amenity-nav .nav-links div:hover{
    border-bottom:5px solid var(--accent);
    background:white;
    cursor: pointer;
    color:var(--accent);
}

@media (max-width:900px){
    .amenity-nav .nav-links{
        width:75%;
    }
}
@media (max-width:725px){
    .amenity-nav{
        display:none;
    }
}